{{ define "search" }}    
   
{{ template "header" }}    
   
<main role="main" class="inner cover">    
    <div style="margin-top: 20px;">  
        <form action="/search" method="get" class="form-inline flex-grow-1">   
            <div style="margin-left: 200px;"></div>  
            <input type="text" name="query" placeholder="Введите запрос" class="form-control form-control-sm" />    
            <button type="submit" class="btn btn-primary btn-sm">Поиск</button>    
        </form>    
   
        <ul class="mt-3">    
            {{ range $index, $element := . }}    
                {{ if lt $index 2 }} 
                    <div class="alert alert-danger">    
                        <h2>{{ $element.Title }}</h2>    
                        <p>{{ $element.Idea }}</p>    
                        <a href="/post/{{ $element.Id }}" class="btn btn-danger">Развернуть</a>    
                    </div>    
                {{ end }}  
            {{ end }}  
            {{ if eq (len .) 0 }}
                <div class="alert alert-warning">
                    Результатов не найдено
                </div>
            {{ end }}  
        </ul>    
    </div>   
</main>    
   
{{ template "footer" }}     
   
{{ end }}